/* 	Property Adjustment Key: top, right, bottom, left */

body{
	background-color: #FFF;
}

a img { 
    border: none;
}

#navSecondary {
	font-size: 90%;
	position: absolute;
	right: 20px;
	top: 10px;
}

.pipe {
	margin: 0 5px;
}

#identity {
	margin: 0;
	padding: 0;
	font-size: 122%; 
	font-weight: bold; 
	text-transform: uppercase;
	letter-spacing: -.5px;
}

#identity span {
	position: absolute;
	top: 30px;
	margin: 0 0 0 10px;
	width: 300px;
	color: #001B51;
}

#headerCurve {
	clear: both;
	display: block;
	width: 994px;
	margin: 60px 0 0 0;
}

#navPrimary {
	position: relative;
	overflow: visible;
	width: 994px;
	*padding: 60px 0 0 0;
}

#navPrimary ul {
	position: relative;
	float: left;
	background: url(../images/navBackground.gif) repeat-x top left;
	width: 100%;
	list-style: none;
	font-size: 110%;
	margin: 0;
	border-top: 1px solid #FFF;
	text-transform: uppercase;
}

#navPrimary li {
	float: left;
	display: inline;
	margin: 0 auto;
	height: 25px;
	border-right: 1px solid #00336F;
}

#navPrimary a {
	float: left;
	display: block;
	position: relative;
	padding: 6px 10px 0 10px;
	text-decoration: none;
	font-weight: bold;
	color: #6699CC;
}

#navPrimary a:hover {
 	color: #FFF;
}

#navPrimary li:hover, 
#navPrimary li:hover a, 
li a:hover {
	background-color: #2C60C6;
}

#navPrimary ul li.navOn a {
	background-color: #2C60C6;
	color: #FFF;
	height: 19px;
}

/* START SUB-MENUS */
#navPrimary ul ul {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 25px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 994px;
	height: 25px;
	background: #2C60C6;
	font-size: 85%;
	border: 0 solid transparent;
}

#navPrimary ul li:hover ul, 
#navPrimary ul a:hover ul {
	visibility: visible;
}

#navPrimary ul li:hover ul li {
	border: 0 solid transparent;
	float: right;
}

/* END SUB-MENUS */

#navShadow {
	position: absolute;
	top: 131px;
	left: 0;
	width: 994px;
	height: 13px; 
	*background-image: none;
	background-image: url(../images/navShadowTile.png);
}

#content-table {
	width: 994px;
}

#articleContainer {
	width: 80%;
	padding: 35px 10px 25px 55px;
}

.articleColumn {
	float: left; 
	margin: 0 40px 0 0;
}

#footerContainer {
	width: 994px;
	text-align: center;
	border-top: 1px solid #001B51;
	padding: 10px 0;
	font-size: 85%;
	clear: both;
}

#footerFlag {
	position: relative;
	top: 7px;
	right: 10px;
}

#rightRail {
	width: 220px;
	vertical-align: top;
	background: #214997; 
	background-repeat: repeat-x; 
	background-position: top left;
	border-bottom: 1px solid #FFF;
}

#changling_directions {
	position: absolute;
	z-index: 4;
	width: 450px;
	*width: 470px;
	height: 520px;
	*height: 550px;
	border: 1px solid #000000;
	padding: 10px;
	background-color: #FDFDFD;
}

#tabRule {
	color: #73838C;
	background-color: #73838C;
	height: 1px;
	position: absolute;
	width: 550px;
	top: 171px;
}

.pointer { 
	cursor: default; 
}

#leadershipImage { 
	width: 280px; 
	float: left; 
	margin: 0 15px 0 0; 
}

/*START FORM ELEMENTS*/	
input {
	display: block;
	width: 175px;
	float: left;
	margin: 0 0 10px 0;
}

.zip {
	display: block;
	width: 80px;
	float: left;
	margin: 0 0 10px 0;
}

.phone {
	display: block;
	width: 90px;
	float: left;
	margin: 0 0 10px 0;
}

select {
	display: block;
	width: 75px;
	margin: 0 0 0 160px;
	*margin: 0;
}

label {
	display: block;
	text-align: right;
	float: left;
	width: 150px;
	padding: 0 10px 0 0;
}

.buttonSubmit {
	margin: 10px 0 0 10px;
	width: 75px;
	float: right;
}

.buttonReset {
	width: 75px;
	margin: 0 10px 0 0;
	float: right;
}

br,
.clearLeft {
	clear: left;
}

br.noClear {
	clear: none;
}

.radio {
	display: block;
	width: 20px;
	float: left;
	margin: 0 0 10px 0;
}

.checkbox {
	display: block;
	width: 20px;
	float: left;
	margin: 0 10px 10px 0;
}
/*END FORM ELEMENTS*/

.serviceLogoPosition {
	float: left;
	margin: 0 10px 10px 0;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.visibility_on,
.visibility_off {
	visibility: visible;
	z-index: 10;
}

.visibility_off {
	visibility: hidden;
}