/* 	Property Adjustment Key: top, right, bottom, left */

#homeColumns {
	width: 994px;
	overflow: hidden;
}

#leftColumn {
	width: 40%;
	border-right: 1px solid #FFF;
	background: transparent url(../images/grayHomeTile.gif) repeat-y top left;
	float: left;
	padding: 25px 10px 10px 10px;
}

#grayField {
	width: 332px;
	border-right: 1px solid #FFF;
	padding: 25px 10px 10px 10px;
	float: left;
}

#rightColumn {
	width: 202px;
	padding: 25px 10px 10px 10px;
	float: right;
	text-align: center;
}

#leftColumn, #grayField, #rightColumn {
	height: 670px;
	border-bottom: 1px solid #FFF;
	background-color: #E3E2E2;
}

#bannerCaption {
	color: #FFF;
	font-size: 80%;
	z-index: 99;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 220px;
	*top: 230px;
	left: 550px;
	float: right;
}

#headlineFadeText dd {
	font-size: 250%;
	position: absolute;
	z-index: 99;
	top: 200px;
	*top: 153px;
	left: 157px;
	*left: 170px;
	color: #FFF;
	text-transform: uppercase;
	*padding: 5px;
}

#navPrimary ul {
	margin: -2px 0 0 0;
}

#navShadow {
	top: 315px;
	*top: 333px;
}

#navPrimary ul li:hover ul,
#navPrimary ul a:hover ul {
	top: 25px;
}

h1 {
	font-size: 150%; 
	color: #2752A4; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin: 0 0 10px 0; }